.text {
    font-family: "Comic Sans MS", cursive;
    font-size: 1.5em;
}

.larger {
    font-size: 2em;
}

.bold {
    font-weight: bold;
}

.largest {
    font-size: 3em;
}

.color-primary {
    color: #ffffff;
}

body {
    background-color: #232323;